table {
    width:100%;
    text-align: center;
    border: blue;
    
    
}
th {
    cursor: pointer;
}

button, td ,th, tr{
    border: 1px solid blue;
    text-align: center;
    width: auto;
    padding: 10px 20px;
    margin: 10px;
  }